@use 'theme';

.footer {
    background-color: theme.$footer-background;
    display: block;
    padding: 0px;
    margin-top: 50px;
}

.footer-container {
    height: 2rem;
    max-width: 140ch;
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.footer-content {
    display: flex;

    .footer-content-item {
        position: relative;
        left: -10px;
        margin: 5px;
    }

    .footer-content-button {
        display: flex;
        padding: 2px;

        a {
            width: 17px;
            height: 17px;
            padding: 3px;
            color: theme.$body-text-color;
        }

        a:hover {
            color: theme.$accent-color-primary;
        }
    }
}

@media only screen and (min-width: 2000px) {
    .footer-container {
        width: 80vw;
        max-width: 180ch;
    }
}