@use 'theme';
/*.image-gallery-container {
    max-width: 140ch;
}*/

.image-gallery-justify-center {
    justify-content: center !important;
    display: flex;
    flex-wrap: wrap;
}

#lightgallery {
    overflow: hidden;
    margin: 0 auto;
    /* --padding: max(2vw, 18px); */
    --space: max(1.5vw, 18px);
    --min-height: clamp(296px, 21vw, 600px);

    padding: var(--padding);
    display: flex;
    flex-wrap: wrap;
    gap: var(--space);

    a {
      flex-grow: calc(var(--width) * (100000 / var(--height)));
      flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
      aspect-ratio: var(--width) / var(--height);
      overflow: hidden;
      opacity: 1;
      transition: all 0.05s ease-in-out;
    }

    a img {
      display: block;
      object-fit: cover;
      height: 100%;
      width: 100%;
      margin: 0;
    }
}

.img-container {
    position: relative;
}

.gallery-img {
    display: block;
    animation: fadeIn 0.75s;
    -webkit-animation: fadeIn 0.75s;
    -moz-animation: fadeIn 0.75s;
    -o-animation: fadeIn 0.75s;
    -ms-animation: fadeIn 0.75s;
}

.lg-thumb-item {
    border-color: theme.$accent-color-secondary !important;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: theme.$header-background !important;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.gallery-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .3s ease-in-out;
    background: #00000000;
}

.gallery-img-overlay:hover {
    background: #00000050;
}

@media only screen and (min-width: 2000px) {
    #lightgallery {
        --space: max(1vw, 18px);
    }
}