@use 'theme';

.title-bar {
    background-color: theme.$title-bar-background;

    .title-container {
        margin: 0 auto;
        text-align: center;
        padding: 20px 10px;
    }

    h1 {
        margin-top: 8px;
        font-size: 1.25rem;
        font-variant: normal;
        text-transform: uppercase;
        color: theme.$title-bar-text;
    }
}

@media only screen and (min-width: 768px) {
    .title-bar {
        h1 {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .title-bar {
        h1 {
            font-size: 1.75rem;
        }
    }
}