---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../layouts/PageTitle.astro';
import '../styles/style.scss'
---

<Layout pageType="about" title="About - HE Koza">
	<PageTitle name="after-header" title="About"/>
	<main>
	</main>
</Layout>