---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import indexImage from '../images/index/ryebarley.png';
import '../styles/style.scss'
---

<Layout pageType="home" title="Home - HE Koza">
	<main>
		<Image src={indexImage} alt="Art of two cartoon cat characters." style="max-width: 800px; height: auto;" />
	</main>
</Layout>