<div class="menu-mobile">
	<span class="menu-bar bar-top"></span>
	<span class="menu-bar bar-mid-l"></span>
	<span class="menu-bar bar-mid-r"></span>
	<span class="menu-bar bar-bottom"></span>
</div>
<script>
    import "../scripts/mobilemenu.js";
</script>