---
import MobileMenu from '../components/MobileMenu.astro';
import NavButton from './NavButton.astro';
import NavDropdown from './NavDropdown.astro';

import { pages as conpages } from '../scripts/conpages.js'
---

<MobileMenu />
<nav class="nav-bar">
	<div class="nav-overlay">
	</div>
	<div class="nav-container">
		<ul class="nav-buttons">
			<NavButton url="/website/" page="Home" />
			<NavButton url="/website/conceptart/characterdesign" page="Concept Art">
				<NavDropdown id="con" slot="dropmenu">
					{
						conpages?.map(page => (
							<a href={page.url} class="sub-title-link">{page.title}</a>
						))
					}
				</NavDropdown>
			</NavButton>
			<NavButton url="/website/animation" page="Animation" />
			<NavButton url="/website/about" page="About" />
		</ul>
	</div>
</nav>
<script>
	import "../scripts/navigation.js";
</script>