---
import ArtPage from '../../layouts/ArtPage.astro';

import { pages } from '../../scripts/conpages.js'
---

<ArtPage tabtitle="Character Design - HE Koza" pagetitle="Concept Art" pages={pages}>
    <div id="lightgallery">
		<a href="/src/images/conceptart/characterdesign/barley_lineup.png">
			<div class="img-container">
				<img class="gallery-img" alt="First Falcon" src="/src/images/conceptart/characterdesign/barley_lineup.png" />
				<div class="gallery-img-overlay"></div>
			</div>
		</a>
		
		<a href="/src/images/conceptart/characterdesign/rye_lineup.png">
			<div class="img-container">
				<img class="gallery-img" alt="Second Falcon" src="/src/images/conceptart/characterdesign/rye_lineup.png" />
				<div class="gallery-img-overlay"></div>
			</div>
		</a>

		<a href="/src/images/conceptart/creaturedesign/lizard.png">
			<div class="img-container">
				<img class="gallery-img" alt="Second Falcon" src="/src/images/conceptart/creaturedesign/lizard.png" />
				<div class="gallery-img-overlay"></div>
			</div>
		</a>

		<a href="/src/images/conceptart/creaturedesign/red_phoenix.png">
			<div class="img-container">
				<img class="gallery-img" alt="Second Falcon" src="/src/images/conceptart/creaturedesign/red_phoenix.png" />
				<div class="gallery-img-overlay"></div>
			</div>
		</a>
	</div>
</ArtPage>