---
import ArtPage from '../../layouts/ArtPage.astro';

import { pages } from '../../scripts/conpages.js'
---

<ArtPage tabtitle="Concept Art - HE Koza" pagetitle="Concept Art" pages={pages}>
	<div id="lightgallery">
		<a href="https://cdn.discordapp.com/attachments/835784691004866583/1282892140132696114/peregrine_falcon.png?ex=66e101e9&is=66dfb069&hm=5a064d98721e206ccc46262147569de014f709fc734d36e66e24852645d57649&">
			<div class="img-container">
				<img class="gallery-img" alt="First Falcon" src="https://cdn.discordapp.com/attachments/835784691004866583/1282892119803039755/falcon_icon.png?ex=66e101e4&is=66dfb064&hm=b8767488085da424a212329798dbef0034565c3202f90dc2bc38c35264da4ae1&" />	
				<div class="gallery-img-overlay">Hi</div>
			</div>
		</a>
		
		<a href="https://cdn.discordapp.com/attachments/835784691004866583/1282892140132696114/peregrine_falcon.png?ex=66e101e9&is=66dfb069&hm=5a064d98721e206ccc46262147569de014f709fc734d36e66e24852645d57649&">
			<div class="img-container">
				<img class="gallery-img" alt="Second Falcon" src="https://cdn.discordapp.com/attachments/835784691004866583/1282892119803039755/falcon_icon.png?ex=66e101e4&is=66dfb064&hm=b8767488085da424a212329798dbef0034565c3202f90dc2bc38c35264da4ae1&" />
				<div class="gallery-img-overlay"></div>
			</div>
		</a>
	</div>
</ArtPage>